.flexbox{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.flex1{
    display: flex;
    background-color: blue;
    width: 200px;
    height: 200px; 
    order: 4;
}

.flex2{
    display: flex; 
    background-color: black;
    width: 200px;
    height: 200px;
    order: 3;
}

.flex3{
    display: flex; 
    background-color: red;
    width: 200px;
    height: 200px;
    order: 2;
}

.flex4{
    display: flex; 
    background-color: green;
    width: 200px;
    height: 200px;
    order: 1;
}